
urxvt.font: xft:FantasqueSansMono Nerd Font Mono:style=Regular:size=12, xft:Symbola, xft:siji
urxvt.scrollBar: false
urxvt.saveLines: 10000

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

urxvt.depth: 32

